<div class="col d-flex justify-content-center m-4">
  <div class="card w-50">
    <h1 class="text-success">Character creator</h1>
    <!-- ? doc : https://angular.io/guide/reactive-forms -->
    <form [formGroup]="characterForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label class="form-label">Name</label>
        <input type="text" formControlName="name" required>
        <p class="form-text text-danger" *ngIf="control('name')?.errors?.required">Name is required</p> <!-- depuis angular 13 control('name')?.errors?.['required'] -->
        <p class="form-text text-danger" *ngIf="control('name')?.errors?.minlength">Name is too short</p>
        <p class="form-text text-danger" *ngIf="control('name')?.errors?.maxlength">Name is too long</p>
        <p class="form-text text-danger" *ngIf="control('name')?.errors?.pattern">Name must contain only letters</p>
      </div>
      <div class="mb-3">
        <label class="form-label">Birthday</label>
        <input type="date" formControlName="birthday">
      </div>
      <div>
        <label class="form-label">Rank</label>
        <select formControlName="rank" class="form-select" >
          <option *ngFor="let rank of ranks" value="{{rank.key}}">{{rank.value}}</option>
        </select>
      </div>
      <div>
        <label class="form-label">XP</label>
        <input type="range" class="form-range" formControlName="xp" max="100">
      </div>
      <button type="submit" class="btn btn-success" [disabled]="characterForm.invalid">Submit</button>
    </form>
  </div>
</div>